@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Essa é uma aplicação utilizando .Net Core e páginas Razor.</p>
</div>
